Implemented verification of code witnesses in the tx kernel.
