Implemented code witness verification in the tx kernel.
